/*@require 'css/main.css';*/
/*@require css/main.css;*/
/*@require 'css/main.css';*/
/*@require "css/main.css";*/
/*@require 'css/main.css';*/
/*@require 'css/main.css';@require css/main.css;@require 'css/main.css';@require "css/main.css";@require 'css/main.css';*/
.test{
    background: red;
    /*@require 'css/main.css'; */
    /*@require css/main.css;@require 'css/main.css';@require "css/main.css";@require 'css/main.css';*/
}