/*@require '../css/main.css';*/
/*@require main.css;*/
/*@require 'main.css';*/
/*@require "main.css";*/
/*@require './main.css';*/
/*@require '../css/main.css';@require main.css;@require 'main.css';@require "main.css";@require './main.css';*/
.test{
    background: red;
    /*@require '../css/main.css'; */
    /*@require main.css;@require 'main.css';@require "main.css";@require './main.css';*/
}